* {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}
p {
    color: rgba(7, 2, 17, 0.60);
}
body {
    width: 1320px;
    margin: 2rem auto 0;;
}
/* Banner Section style */
#main-banner {
    width: 100%;
    height: 600px;
    background-image: url("resources/Banner Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: 100% 100%;
    position: relative;
   
}
#main-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

#banner-title {
    color: white;
    width: 220px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#banner-title h1{
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}
#banner-title h3{
    font-weight: 100;
    margin-bottom: 8px;
    text-align: center;
}

/* discount-new-year SEction */
#discount-new-year {
    width: 500px;
    height: auto;
    margin:3rem auto;
}
#discount-new-year-titles {
    text-align: center;
}
#discount-new-year-titles h1 {
    text-align: center;
    color: #FF0000;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#discount-new-year-titles h3{
    font-size: 1.7rem;
    margin-top: 10px;

}
#discount-new-year-titles h5{
    text-align: center;
    color: #FF0000;
}
#discount-new-year-img {
    margin-top: 1.5rem;
    width: 100%;
}

/* midnight-party-banner */
#midnight-party-banner {
    width: 100%;
    height: 600px;
    margin-top: 2rem;
    background-image: url("./resources/midnight-party.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    background-position: center;
    position: relative;
}
#midnight-party-banner-description {
    width: 500px;
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);

}
#midnight-party-banner-title {
    width: 350px;
    position: absolute;
    top: 40%;
    left: 15%;
}
#midnight-party-banner-title h1 {
    color: white;
    font-size: 3rem;
}
#midnight-party-banner-title a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}
/* party-venue-details */
#party-venue {
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 8px;
    position: relative;
}
#party-venue-details {
    width: 100%;
    height: 482px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
#party-venue-details h3 span{
    color:#FF0000;
}
#party-address {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#party-address h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
#join-button {
    background-color: #FF0000;
    text-decoration: none;
    color: white;
    padding: 8px 13px;
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 1.5rem;
    display: inline-block;
    font-weight: 600;
}

/* coming-soon */
#coming-soon{
    width: 100%;
    height: 500px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.coming-soon-flex-item {
    width: 30%;
}
#coming-soon-details h3{
color: #FF0000;
}
#coming-soon-details h1,#coming-soon-year-details h1 {
    color: #FF0000;
    font-size: 2rem;
}
#coming-soon-details h1{
    color: #000000;
    margin: 8px 0 12px 0;
}
#coming-soon-year-details p{
    margin: 8px 0 12px 0; 
}
    
#comming-soon-banner{
    border-radius: 463px;
    border: 15px solid #FF0000;
    padding: 20px;

}
    


