* {
    margin: 0;
    padding: 0;
}
body {
    width: 1370px;
    margin: auto;
}
/* Banner Section style */
#main-banner {
    width: 100%;
    height: 600px;
    background-image: url("resources/Banner Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: 100% 100%;
    position: relative;
   
}
#main-banner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

#banner-title {
    color: white;
    width: 220px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#banner-title h1{
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
}
#banner-title h3{
    font-weight: 100;
    margin-bottom: 8px;
    text-align: center;
}

/* discount-new-year SEction */
#discount-new-year {
    width: 500px;
    height: auto;
    margin:3rem auto;
}
#discount-new-year-titles {
    text-align: center;
}
#discount-new-year-titles h1 {
    text-align: center;
    color: #FF0000;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
#discount-new-year-titles h3{
    font-size: 1.7rem;
    margin-top: 10px;

}
#discount-new-year-titles h5{
    text-align: center;
    color: #FF0000;
}
#discount-new-year-img {
    margin-top: 1.5rem;
    width: 100%;
}

